In [2]:
import pandas
import numpy
import csv

In [3]:
iris_file = 'iris_data.csv'
names = ['sepal_length', 'sepal_width', 'petal_length','petal_width','target']
iris = pandas.read_csv(iris_file, sep=',', decimal='.', header=None,names=names)

## Mask

In [4]:
mask_feature = iris.sepal_length > 6.0

In [5]:
mask_feature

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
120     True
121    False
122     True
123     True
124     True
125     True
126     True
127     True
128     True
129     True
130     True
131     True
132     True
133     True
134     True
135     True
136     True
137     True
138    False
139     True
140     True
141     True
142    False
143     True
144     True
145     True
146     True
147     True
148     True
149    False
Name: sepal_length, Length: 150, dtype: bool

In [6]:
mask_target = iris.target == 'Iris-virginica'

In [7]:
iris.loc[mask_target, 'target'] = 'New Label'

In [8]:
iris.target.unique()

array(['Iris-setosa', 'Iris-versicolor', 'New Label'], dtype=object)

In [9]:
grouped_target_mean = iris.groupby(['target']).mean()
grouped_target_mean

                 sepal_length  sepal_width  petal_length  petal_width
target
Iris-setosa             5.006        3.418         1.464        0.244
Iris-versicolor         5.936        2.770         4.260        1.326
New Label               6.588        2.974         5.552        2.026

In [10]:
grouped_target_var = iris.groupby(['target']).var()
grouped_target_var

                 sepal_length  sepal_width  petal_length  petal_width
target
Iris-setosa          0.124249     0.145180      0.030106     0.011494
Iris-versicolor      0.266433     0.098469      0.220816     0.039106
New Label            0.404343     0.104004      0.304588     0.075433

In [11]:
iris.sort_values(by='sepal_length').head(10)

    sepal_length  sepal_width  petal_length  petal_width       target
13           4.3          3.0           1.1          0.1  Iris-setosa
42           4.4          3.2           1.3          0.2  Iris-setosa
38           4.4          3.0           1.3          0.2  Iris-setosa
8            4.4          2.9           1.4          0.2  Iris-setosa
41           4.5          2.3           1.3          0.3  Iris-setosa
22           4.6          3.6           1.0          0.2  Iris-setosa
3            4.6          3.1           1.5          0.2  Iris-setosa
6            4.6          3.4           1.4          0.3  Iris-setosa
47           4.6          3.2           1.4          0.2  Iris-setosa
2            4.7          3.2           1.3          0.2  Iris-setosa

In [15]:
iris.apply(numpy.count_nonzero, axis=0)

sepal_length    150
sepal_width     150
petal_length    150
petal_width     150
target          150
dtype: int64

In [16]:
iris.apply(numpy.count_nonzero, axis=1).head()

0    5
1    5
2    5
3    5
4    5
dtype: int64

In [17]:
iris.applymap(lambda x: len(str(x))).head()

   sepal_length  sepal_width  petal_length  petal_width  target
0             3            3             3            3      11
1             3            3             3            3      11
2             3            3             3            3      11
3             3            3             3            3      11
4             3            3             3            3      11