In [1]:
import pandas

In [5]:
file_name = 'selection.txt'

### Define Index

In [3]:
dataset = pandas.read_csv(file_name)

In [4]:
dataset

     n  val1  val2 val3
0  100    10    10    C
1  101    10    20    C
2  102    10    30    B
3  103    10    40    B
4  104    10    50    A

In [6]:
dataset = pandas.read_csv(file_name, index_col=0)

In [7]:
dataset

     val1  val2 val3
n
100    10    10    C
101    10    20    C
102    10    30    B
103    10    40    B
104    10    50    A

In [8]:
dataset['val3'][104]

'A'

In [9]:
dataset.loc[104, 'val3']

'A'

In [10]:
dataset.iloc[4,2]

'A'

In [15]:
dataset[['val3', 'val2']][0:2]

    val3  val2
n
100    C    10
101    C    20

In [16]:
dataset.loc[range(100, 102), ['val3', 'val2']]

    val3  val2
n
100    C    10
101    C    20

In [17]:
dataset.iloc[range(2), [2,1]]

    val3  val2
n
100    C    10
101    C    20

## Categorical Data

In [18]:
import pandas

In [20]:
categorical_feature = pandas.Series(['sunny', 'cloudy', 'snowy', 'rainy', 'foggy'])
mapping = pandas.get_dummies(categorical_feature)
mapping

   cloudy  foggy  rainy  snowy  sunny
0       0      0      0      0      1
1       1      0      0      0      0
2       0      0      0      1      0
3       0      0      1      0      0
4       0      1      0      0      0

In [21]:
mapping['sunny']

0    1
1    0
2    0
3    0
4    0
Name: sunny, dtype: uint8

In [23]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

In [25]:
le = LabelEncoder()
ohe = OneHotEncoder()

In [27]:
levels = ['sunny', 'cloudy', 'snowy', 'rainy', 'foggy']
fit_levs = le.fit_transform(levels)
ohe.fit([[fit_levs[0]], [fit_levs[1]], [fit_levs[2]], [fit_levs[3]], [fit_levs[4]]])

OneHotEncoder(categorical_features='all', dtype=<class 'numpy.float64'>,
       handle_unknown='error', n_values='auto', sparse=True)

In [30]:
print(ohe.transform([le.transform(['sunny'])]).toarray())
print(ohe.transform([le.transform(['cloudy'])]).toarray())

[[ 0.  0.  0.  0.  1.]]
[[ 1.  0.  0.  0.  0.]]

## Text

In [32]:
from sklearn.datasets import fetch_20newsgroups

In [34]:
categories = ['sci.med', 'sci.space']
twenty_sci_news = fetch_20newsgroups(categories=categories)

Downloading 20news dataset. This may take a few minutes.
Downloading dataset from https://ndownloader.figshare.com/files/5975967 (14 MB)

In [35]:
twenty_sci_news.filenames

array([ 'C:\\Users\\paul.lucas\\scikit_learn_data\\20news_home\\20news-bydate-train\\sci.space\\61116',
       'C:\\Users\\paul.lucas\\scikit_learn_data\\20news_home\\20news-bydate-train\\sci.med\\58122',
       'C:\\Users\\paul.lucas\\scikit_learn_data\\20news_home\\20news-bydate-train\\sci.med\\58903',
       ...,
       'C:\\Users\\paul.lucas\\scikit_learn_data\\20news_home\\20news-bydate-train\\sci.space\\60774',
       'C:\\Users\\paul.lucas\\scikit_learn_data\\20news_home\\20news-bydate-train\\sci.space\\60954',
       'C:\\Users\\paul.lucas\\scikit_learn_data\\20news_home\\20news-bydate-train\\sci.med\\58911'],
      dtype='<U100')

In [36]:
print(twenty_sci_news.data[0])

From: flb@flb.optiplan.fi ("F.Baube[tm]")
Subject: Vandalizing the sky
X-Added: Forwarded by Space Digest
Organization: [via International Space University]
Original-Sender: isu@VACATION.VENARI.CS.CMU.EDU
Distribution: sci
Lines: 12

From: "Phil G. Fraering" <pgf@srl03.cacs.usl.edu>
>
> Finally: this isn't the Bronze Age, [..]
> please try to remember that there are more human activities than
> those practiced by the Warrior Caste, the Farming Caste, and the
> Priesthood.

Right, the Profiting Caste is blessed by God, and may
 freely blare its presence in the evening twilight ..

--
* Fred Baube (tm)

In [38]:
print(twenty_sci_news.target[0])
print (twenty_sci_news.target_names[twenty_sci_news.target[0]])

1
sci.space

In [39]:
from sklearn.feature_extraction.text import CountVectorizer

In [41]:
count_vect = CountVectorizer()
word_count = count_vect.fit_transform(twenty_sci_news.data)
word_count.shape

(1187, 25638)

In [42]:
print(word_count[0])

  (0, 10778)	1
  (0, 23849)	1
  (0, 9796)	1
  (0, 12716)	1
  (0, 18586)	1
  (0, 13384)	1
  (0, 5134)	1
  (0, 10785)	1
  (0, 15246)	1
  (0, 11330)	1
  (0, 5148)	1
  (0, 13318)	1
  (0, 18744)	1
  (0, 20110)	1
  (0, 18642)	1
  (0, 3808)	2
  (0, 10188)	1
  (0, 6017)	3
  (0, 24930)	1
  (0, 18474)	1
  (0, 23241)	1
  (0, 23129)	1
  (0, 3191)	1
  (0, 12362)	1
  (0, 15968)	1
  :	:
  (0, 7646)	1
  (0, 24547)	1
  (0, 24415)	1
  (0, 13359)	1
  (0, 20909)	1
  (0, 17235)	1
  (0, 24151)	1
  (0, 13158)	1
  (0, 24626)	1
  (0, 17217)	1
  (0, 8438)	1
  (0, 21686)	2
  (0, 5650)	3
  (0, 10713)	1
  (0, 3233)	1
  (0, 21382)	1
  (0, 23137)	7
  (0, 24461)	1
  (0, 22345)	1
  (0, 23381)	2
  (0, 4762)	2
  (0, 10341)	1
  (0, 17170)	1
  (0, 10501)	2
  (0, 10827)	2

In [44]:
word_list = count_vect.get_feature_names()
for n in word_count[0].indices:
    print('Word {} appears {} times'.format(word_list[n], word_count[0, n]))

Word fred appears 1 times
Word twilight appears 1 times
Word evening appears 1 times
Word in appears 1 times
Word presence appears 1 times
Word its appears 1 times
Word blare appears 1 times
Word freely appears 1 times
Word may appears 1 times
Word god appears 1 times
Word blessed appears 1 times
Word is appears 1 times
Word profiting appears 1 times
Word right appears 1 times
Word priesthood appears 1 times
Word and appears 2 times
Word farming appears 1 times
Word caste appears 3 times
Word warrior appears 1 times
Word practiced appears 1 times
Word those appears 1 times
Word than appears 1 times
Word activities appears 1 times
Word human appears 1 times
Word more appears 1 times
Word are appears 1 times
Word there appears 1 times
Word that appears 1 times
Word remember appears 1 times
Word to appears 1 times
Word try appears 1 times
Word please appears 1 times
Word age appears 1 times
Word bronze appears 1 times
Word isn appears 1 times
Word this appears 1 times
Word finally appears 1 times
Word usl appears 1 times
Word cacs appears 1 times
Word srl03 appears 1 times
Word pgf appears 1 times
Word fraering appears 1 times
Word phil appears 1 times
Word 12 appears 1 times
Word lines appears 1 times
Word sci appears 1 times
Word distribution appears 1 times
Word edu appears 2 times
Word cmu appears 1 times
Word cs appears 1 times
Word venari appears 1 times
Word vacation appears 1 times
Word isu appears 1 times
Word sender appears 1 times
Word original appears 1 times
Word university appears 1 times
Word international appears 1 times
Word via appears 1 times
Word organization appears 1 times
Word digest appears 1 times
Word space appears 2 times
Word by appears 3 times
Word forwarded appears 1 times
Word added appears 1 times
Word sky appears 1 times
Word the appears 7 times
Word vandalizing appears 1 times
Word subject appears 1 times
Word tm appears 2 times
Word baube appears 2 times
Word fi appears 1 times
Word optiplan appears 1 times
Word flb appears 2 times
Word from appears 2 times

In [45]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [52]:
tf_vect = TfidfVectorizer(use_idf=False, norm='l1')
word_freq = tf_vect.fit_transform(twenty_sci_news.data)
word_list = tf_vect.get_feature_names()
for n in word_freq[0].indices:
    print('Word {} has frequency of {:.3f}'.format(word_list[n], word_freq[0, n]))

Word fred has frequency of 0.011
Word twilight has frequency of 0.011
Word evening has frequency of 0.011
Word in has frequency of 0.011
Word presence has frequency of 0.011
Word its has frequency of 0.011
Word blare has frequency of 0.011
Word freely has frequency of 0.011
Word may has frequency of 0.011
Word god has frequency of 0.011
Word blessed has frequency of 0.011
Word is has frequency of 0.011
Word profiting has frequency of 0.011
Word right has frequency of 0.011
Word priesthood has frequency of 0.011
Word and has frequency of 0.022
Word farming has frequency of 0.011
Word caste has frequency of 0.033
Word warrior has frequency of 0.011
Word practiced has frequency of 0.011
Word those has frequency of 0.011
Word than has frequency of 0.011
Word activities has frequency of 0.011
Word human has frequency of 0.011
Word more has frequency of 0.011
Word are has frequency of 0.011
Word there has frequency of 0.011
Word that has frequency of 0.011
Word remember has frequency of 0.011
Word to has frequency of 0.011
Word try has frequency of 0.011
Word please has frequency of 0.011
Word age has frequency of 0.011
Word bronze has frequency of 0.011
Word isn has frequency of 0.011
Word this has frequency of 0.011
Word finally has frequency of 0.011
Word usl has frequency of 0.011
Word cacs has frequency of 0.011
Word srl03 has frequency of 0.011
Word pgf has frequency of 0.011
Word fraering has frequency of 0.011
Word phil has frequency of 0.011
Word 12 has frequency of 0.011
Word lines has frequency of 0.011
Word sci has frequency of 0.011
Word distribution has frequency of 0.011
Word edu has frequency of 0.022
Word cmu has frequency of 0.011
Word cs has frequency of 0.011
Word venari has frequency of 0.011
Word vacation has frequency of 0.011
Word isu has frequency of 0.011
Word sender has frequency of 0.011
Word original has frequency of 0.011
Word university has frequency of 0.011
Word international has frequency of 0.011
Word via has frequency of 0.011
Word organization has frequency of 0.011
Word digest has frequency of 0.011
Word space has frequency of 0.022
Word by has frequency of 0.033
Word forwarded has frequency of 0.011
Word added has frequency of 0.011
Word sky has frequency of 0.011
Word the has frequency of 0.077
Word vandalizing has frequency of 0.011
Word subject has frequency of 0.011
Word tm has frequency of 0.022
Word baube has frequency of 0.022
Word fi has frequency of 0.011
Word optiplan has frequency of 0.011
Word flb has frequency of 0.022
Word from has frequency of 0.022

In [53]:
tfidf_vect = TfidfVectorizer()
word_freq = tfidf_vect.fit_transform(twenty_sci_news.data)
word_list = tfidf_vect.get_feature_names()
for n in word_freq[0].indices:
    print('Word {} has frequency of {:.3f}'.format(word_list[n], word_freq[0, n]))

Word from has frequency of 0.043
Word flb has frequency of 0.264
Word optiplan has frequency of 0.132
Word fi has frequency of 0.110
Word baube has frequency of 0.264
Word tm has frequency of 0.219
Word subject has frequency of 0.022
Word vandalizing has frequency of 0.103
Word the has frequency of 0.158
Word sky has frequency of 0.091
Word added has frequency of 0.088
Word forwarded has frequency of 0.096
Word by has frequency of 0.120
Word space has frequency of 0.098
Word digest has frequency of 0.095
Word organization has frequency of 0.022
Word via has frequency of 0.083
Word international has frequency of 0.081
Word university has frequency of 0.045
Word original has frequency of 0.085
Word sender has frequency of 0.093
Word isu has frequency of 0.099
Word vacation has frequency of 0.099
Word venari has frequency of 0.103
Word cs has frequency of 0.055
Word cmu has frequency of 0.081
Word edu has frequency of 0.059
Word distribution has frequency of 0.053
Word sci has frequency of 0.067
Word lines has frequency of 0.022
Word 12 has frequency of 0.076
Word phil has frequency of 0.102
Word fraering has frequency of 0.113
Word pgf has frequency of 0.114
Word srl03 has frequency of 0.121
Word cacs has frequency of 0.114
Word usl has frequency of 0.112
Word finally has frequency of 0.097
Word this has frequency of 0.031
Word isn has frequency of 0.073
Word bronze has frequency of 0.144
Word age has frequency of 0.092
Word please has frequency of 0.071
Word try has frequency of 0.073
Word to has frequency of 0.023
Word remember has frequency of 0.077
Word that has frequency of 0.027
Word there has frequency of 0.039
Word are has frequency of 0.035
Word more has frequency of 0.046
Word human has frequency of 0.084
Word activities has frequency of 0.091
Word than has frequency of 0.052
Word those has frequency of 0.060
Word practiced has frequency of 0.132
Word warrior has frequency of 0.144
Word caste has frequency of 0.433
Word farming has frequency of 0.144
Word and has frequency of 0.049
Word priesthood has frequency of 0.144
Word right has frequency of 0.068
Word profiting has frequency of 0.150
Word is has frequency of 0.026
Word blessed has frequency of 0.150
Word god has frequency of 0.119
Word may has frequency of 0.054
Word freely has frequency of 0.119
Word blare has frequency of 0.150
Word its has frequency of 0.061
Word presence has frequency of 0.119
Word in has frequency of 0.024
Word evening has frequency of 0.113
Word twilight has frequency of 0.139
Word fred has frequency of 0.089

### N-grams

In [60]:
text1 = 'we love data science'
text2 = 'data science is hard'
docs = [text1, text2]

# That is what we say above, the default one

In [63]:
count_vect_1_grams = CountVectorizer(ngram_range=(1,1), stop_words=[], min_df=1)
word_count = count_vect_1_grams.fit_transform(docs)
word_list = count_vect_1_grams.get_feature_names()
print('Word list =', word_list)
print('text1 is described with', ['{}({})'.format(word_list[n], word_count[0, n]) for n in word_count[0].indices])

Word list = ['data', 'hard', 'is', 'love', 'science', 'we']
text1 is described with ['science(1)', 'data(1)', 'love(1)', 'we(1)']

# Now a bi-gram count vectorizer

In [65]:
count_vect_1_grams = CountVectorizer(ngram_range=(2,2))
word_count = count_vect_1_grams.fit_transform(docs)
word_list = count_vect_1_grams.get_feature_names()
print('Word list =', word_list)
print('text1 is described with', ['{}({})'.format(word_list[n], word_count[0, n]) for n in word_count[0].indices])

Word list = ['data science', 'is hard', 'love data', 'science is', 'we love']
text1 is described with ['data science(1)', 'love data(1)', 'we love(1)']

# Now a uni- and bi-gram count vectorizer

In [66]:
count_vect_1_grams = CountVectorizer(ngram_range=(1,2))
word_count = count_vect_1_grams.fit_transform(docs)
word_list = count_vect_1_grams.get_feature_names()
print('Word list =', word_list)
print('text1 is described with', ['{}({})'.format(word_list[n], word_count[0, n]) for n in word_count[0].indices])

Word list = ['data', 'data science', 'hard', 'is', 'is hard', 'love', 'love data', 'science', 'science is', 'we', 'we love']
text1 is described with ['data science(1)', 'love data(1)', 'we love(1)', 'science(1)', 'data(1)', 'love(1)', 'we(1)']